<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <jmxConfigurator/>
    <property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss:SSS}:[%c:%L] [%thread] %-5level %msg%n"/>
    <property name="log.home" value="log"/>
    <property name="log.level" value="INFO"/>
    <property name="log.max.file.size" value="100MB"/>
    <property name="log.max.history" value="72"/>

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!--文件日志 -->
    <appender name="FILE-INFO"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <File>${log.home}/info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.home}/%d{yyyy-MM-dd}/info/info-%d{yyyy-MM-dd}-.log</FileNamePattern>
            <MaxHistory>${log.max.history}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- WARN文件输出日志 (文件小时大小策略进行文件输出，超过指定大小对文件备份) -->
    <appender name="FILE-WARN"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <File>${log.home}/warn.log</File>
        <append>true</append>
        <!--日志归档策略 -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log.home}/%d{yyyy-MM-dd}/warn/warn-%d{yyyy-MM-dd}-%i.log
            </FileNamePattern>
            <MaxFileSize>${log.max.file.size}</MaxFileSize>
            <MaxHistory>${log.max.history}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- ERROR文件输出日志 (文件小时大小策略进行文件输出，超过指定大小对文件备份) -->
    <appender name="FILE-ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <File>${log.home}/error.log</File>
        <append>true</append>
        <!--日志归档策略 -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log.home}/%d{yyyy-MM-dd}/error/error-%d{yyyy-MM-dd}-%i.log
            </FileNamePattern>
            <MaxFileSize>${log.max.file.size}</MaxFileSize>
            <MaxHistory>${log.max.history}</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 异步输出，异步的log片段必须在同步段后面，否则不起作用 -->
    <appender name="FILE-INFO-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!--阙值  当队列大小低于这个将丢弃日志 为0的话用不丢弃 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 队列的大小-->
        <queueSize>1024</queueSize>
        <!-- 不设置neverBolck的话调用的是put方法是阻塞的，设置后调用offer方法是不阻塞的-->
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE-INFO"/>
    </appender>
    <appender name="FILE-WARN-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE-WARN"/>
    </appender>
    <appender name="FILE-ERROR-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE-ERROR"/>
    </appender>


    <!--文件日志 -->
    <root level="${log.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-INFO-ASYNC"/>
        <appender-ref ref="FILE-WARN-ASYNC"/>
        <appender-ref ref="FILE-ERROR-ASYNC"/>
    </root>
</configuration>